# clusters defines clusters Beekeeper works with
# clusters may inherit it's configuration from already defined cluster and override specific fields from it
clusters:
  default:
    _inherit: ""
    name: bee
    namespace: beekeeper
    disable-namespace: false
    use-static-endpoints: false
    api-domain: staging.internal
    api-insecure-tls: true
    api-scheme: https
    admin-password: test
    funding:
      eth: 0.1
      bzz: 100.0
    node-groups:
      bootnode:
        mode: bootnode
        endpoints:
          - name: bootnode-0
            api-url: https://bootnode-0.beekeeper.testnet.internal
            debug-api-url: https://bootnode-0-debug.beekeeper.testnet.internal
        bee-config: bootnode
        config: default
        nodes:
          - name: bootnode-0
            bootnodes: /dns4/bootnode-1-headless.%s.svc.cluster.local/tcp/1634/p2p/16Uiu2HAmMw7Uj6vfraD9BYx3coDs6MK6pAmActE8fsfaZwigsaB6
            # clef:
            #   key: '{"address":"1c4bc31fb44362ee7523a715913ef88cb2124d9c","crypto":{"cipher":"aes-128-ctr","ciphertext":"d71ca74e969857e215fbf61b8474bcec90b54b87a77d9c4ba586471b98068510","cipherparams":{"iv":"a542cef23e0cd4cd3934d100f92dc0c6"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"d9fafd5fedbf0901a8b23581f8995ec72df2450f7f504019e450cc5a1d95b6aa"},"mac":"4da3db2eb5f363193786f19587d7f3312b873e9e7564a1eae42032aa603d11c7"},"id":"961e0366-c6b2-42d7-b96b-7d8efa622aaf","version":3}'
            #   password: clefbeesecret
            libp2p-key: '{"address":"aa6675fb77f3f84304a00d5ea09902d8a500364091a457cf21e05a41875d48f7","crypto":{"cipher":"aes-128-ctr","ciphertext":"93effebd3f015f496367e14218cb26d22de8f899e1d7b7686deb6ab43c876ea5","cipherparams":{"iv":"627434462c2f960d37338022d27fc92e"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"a59e72e725fe3de25dd9c55aa55a93ed0e9090b408065a7204e2f505653acb70"},"mac":"dfb1e7ad93252928a7ff21ea5b65e8a4b9bda2c2e09cb6a8ac337da7a3568b8c"},"version":3}'
            swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
          - name: bootnode-1
            bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/16Uiu2HAm6i4dFaJt584m2jubyvnieEECgqM2YMpQ9nusXfy8XFzL
            # clef:
            #   key: '{"address":"9ce69a62ca736b28a08baf2aad48349d218f3182","crypto":{"cipher":"aes-128-ctr","ciphertext":"aada885f0cb71c315c6d9a5948db4ff2a6532474b9b434ea4180b8ddc12cec81","cipherparams":{"iv":"df719b7645ee3617a68e5691bd0e991d"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"b7bce85125a786cf8928fc46105aa9027cbb486437317f2a929702e795f7e554"},"mac":"f577f7ad401b00c832c677c2141538645da18397dcc6e3cd4b2e2f6ee5a60f28"},"id":"f6c14462-fc98-4807-a159-d514bdd61f7d","version":3}'
            #   password: clefbeesecret
            libp2p-key: '{"address":"03348ecf3adae1d05dc16e475a83c94e49e28a4d3c7db5eccbf5ca4ea7f688ddcdfe88acbebef2037c68030b1a0a367a561333e5c5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470","crypto":{"cipher":"aes-128-ctr","ciphertext":"0d0ff25e9b03292e622c5a09ec00c2acb7ff5882f02dd2f00a26ac6d3292a434","cipherparams":{"iv":"cd4082caf63320b306fe885796ba224f"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"a4d63d56c539eb3eff2a235090127486722fa2c836cf735d50d673b730cebc3f"},"mac":"aad40da9c1e742e2b01bb8f76ba99ace97ccb0539cea40e31eb6b9bb64a3f36a"},"version":3}'
            swarm-key: '{"address":"ebe269e07161c68a942a3a7fce6b4ed66867d6f0","crypto":{"cipher":"aes-128-ctr","ciphertext":"06b550c35b46099aea8f6c9f799497d34bd5ebc13af79c7cdb2a1037227544ad","cipherparams":{"iv":"fa088e69b1849e40f190a5f69f0555f8"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"42b4f2815c0042d02eed916a7a74ecdc005f1f7eae0cfb5837c15f469df9ddba"},"mac":"23e3d0594ab94587258a33cc521edbde009b887a6f117ed7a3422d1c95123568"},"version":3}'
      bee:
        mode: node
        bee-config: default
        config: default
        count: 3
        endpoints:
          - name: bee-0
            api-url: https://bee-0.beekeeper.testnet.internal
            debug-api-url: https://bee-0-debug.beekeeper.testnet.internal
          - name: bee-1
            api-url: https://bee-1.beekeeper.testnet.internal
            debug-api-url: https://bee-1-debug.beekeeper.testnet.internal
          - name: bee-2
            api-url: https://bee-2.beekeeper.testnet.internal
            debug-api-url: https://bee-2-debug.beekeeper.testnet.internal
        # nodes:
        # - clef:
        #     key: '{"address":"4558ab6d518bf60b813eeba3077eed986027c5da","crypto":{"cipher":"aes-128-ctr","ciphertext":"1bbeffa438a8b8fd592a46323fe0168d8d8e2625085ca8550023b5c0bd48a126","cipherparams":{"iv":"3f369a742a465aaf5e3025864639421a"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"4c2c1fde6491213ea3c6021c82a70327bc0a056569a6e7c2a3fda9e486c0f090"},"mac":"f733b77f675acf0539e7d3d60735408c6efd43893dc0d5b0f94124b0197f89dd"},"id":"1e526dc4-60bd-4c4d-897d-f284806abf2b","version":3}'
        #     password: clefbeesecret
        # - clef:
        #     key: '{"address":"24d7ed323121dedde08d1a9bbd9d054b839daeb8","crypto":{"cipher":"aes-128-ctr","ciphertext":"ea7572730209e815078fd6a32abce9cceeeb2aabe44908bc212005cd3e705ed0","cipherparams":{"iv":"05d4ef77ecfe7a95b970b04998314303"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"6b3b75689f29a6cbe458cafdadddbb42e2b4256e9729570fb4b1077a09a1b9fb"},"mac":"729d8049519daee7559a856fc11f9166fffe9ceef3533f288ba335d9fdcab392"},"id":"009aafd5-e803-46c0-a061-bf314a81cf79","version":3}'
        #     password: clefbeesecret
        # - clef:
        #     key: '{"address":"59ad7a86e3115e50af278edb46917bb1d447172a","crypto":{"cipher":"aes-128-ctr","ciphertext":"0cade286ef24fba2f8272ff8f76aca11b572296d89e7e98adffadca950a9ae87","cipherparams":{"iv":"064b28702c7b6e8d3f6b5e384522bd9a"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"be9030a16c79c4fb77bbfc0b5597791e3cf3ad506abd7ccee48809fe2a98fea0"},"mac":"d91202f50ad0bd709cbc8da7195ce08510e7299d394761392af5f184ebe0b94f"},"id":"551210c5-c319-4f19-9179-d6e86a60c45d","version":3}'
        #     password: clefbeesecret
      light:
        mode: node
        bee-config: light-node
        config: light-node
        count: 3
        endpoints:
          - name: light-0
            api-url: https://light-0.beekeeper.testnet.internal
            debug-api-url: https://light-0-debug.beekeeper.testnet.internal
          - name: light-1
            api-url: https://light-1.beekeeper.testnet.internal
            debug-api-url: https://light-1-debug.beekeeper.testnet.internal
          - name: light-2
            api-url: https://light-2.beekeeper.testnet.internal
            debug-api-url: https://light-2-debug.beekeeper.testnet.internal

# node-groups defines node groups that can be registered in the cluster
# node-groups may inherit it's configuration from already defined node-group and override specific fields from it
node-groups:
  default:
    _inherit: ""
    clef-image: ethersphere/clef:latest
    clef-image-pull-policy: Always
    image: ethersphere/bee:latest
    image-pull-policy: Always
    image-pull-secrets: [regcred]
    ingress-annotations:
      nginx.ingress.kubernetes.io/affinity: "cookie"
      nginx.ingress.kubernetes.io/affinity-mode: "persistent"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "7200"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "7200"
      nginx.ingress.kubernetes.io/session-cookie-max-age: "86400"
      nginx.ingress.kubernetes.io/session-cookie-name: "SWARMGATEWAY"
      nginx.ingress.kubernetes.io/session-cookie-path: "default"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    ingress-class: "nginx-internal"
    labels:
      app.kubernetes.io/component: "node"
      app.kubernetes.io/name: "bee"
      app.kubernetes.io/part-of: "bee"
      app.kubernetes.io/version: "latest"
    node-selector:
      node-group: "private"
    persistence-enabled: false
    persistence-storage-class: "local-storage"
    persistence-storage-request: "34Gi"
    pod-management-policy: "OrderedReady"
    resources-limit-cpu: "1"
    resources-limit-memory: 2Gi
    resources-request-cpu: 750m
    resources-request-memory: 1Gi
    restart-policy: "Always"
    update-strategy: "RollingUpdate"

# bee-configs defines Bee configuration that can be assigned to node-groups
# bee-configs may inherit it's configuration from already defined bee-config and override specific fields from it
bee-configs:
  default:
    _inherit: ""
    api-addr: ":1633"
    block-time: 1
    bootnodes: ""
    bootnode-mode: false
    cache-capacity: 1000000
    clef-signer-enable: false
    clef-signer-endpoint: "http://localhost:8550"
    cors-allowed-origins: ""
    data-dir: "/home/bee/.bee"
    db-open-files-limit: 200
    db-block-cache-capacity: 33554432
    db-write-buffer-size: 33554432
    db-disable-seeks-compaction: false
    full-node: true
    nat-addr: ""
    mainnet: false
    network-id: 12345
    p2p-addr: ":1634"
    p2p-ws-enable: false
    password: "beekeeper"
    payment-early-percent: 50
    payment-threshold: 13500000
    payment-tolerance-percent: 25
    storage-incentives-enable: true
    postage-stamp-start-block: 1
    postage-stamp-address: "0x538e6de1d876bbcd5667085257bc92f7c808a0f3"
    price-oracle-address: "0xfc28330f1ece0ef2371b724e0d19c1ee60b728b2"
    staking-address: "0xc0332d319b73cfeed89511fe1a83add141bd6f12"
    redistribution-address: "0x56e442f99cafd7c890c404c1f8c16d38a569e41a"
    resolver-options: ""
    chequebook-enable: true
    swap-enable: true
    swap-endpoint: "ws://geth-swap.geth-swap:8546"
    swap-factory-address: "0x09ad42a7d020244920309ffa14ea376dd2d3b7d5"
    swap-initial-deposit: 500000000000000000
    tracing-enabled: true
    tracing-endpoint: "tempo-tempo-distributed-distributor.observability:6831"
    tracing-service-name: "bee"
    verbosity: 5
    welcome-message: "Welcome to the Swarm, you are Bee-ing connected!"
    allow-private-cidrs: true
    withdrawal-addresses-whitelist: "0xec44cb15b1b033e74d55ac5d0e24d861bde54532"
  bootnode:
    _inherit: "default"
    bootnode-mode: true

# checks defines checks Beekeeper can execute against the cluster
# type filed allows defining same check with different names and options
checks:
  balances:
    options:
      dry-run: false
      file-name: balances
      file-size: 1048576 # 1mb = 1*1024*1024
      postage-amount: 1000
      postage-depth: 16
      upload-node-count: 3
      wait-before-download: 5s
    timeout: 5m
    type: balances
  cashout:
    options:
      node-group: bee
    timeout: 5m
    type: cashout
  file-retrieval:
    options:
      file-name: file-retrieval
      file-size: 1048576 # 1mb = 1*1024*1024
      files-per-node: 1
      full: false
      postage-amount: 1000
      upload-node-count: 3
    timeout: 5m
    type: file-retrieval
  full-connectivity:
    timeout: 5m
    type: full-connectivity
    options:
      boot-nodes:
        - bootnode
      group-1:
        - light
      group-2:
        - bee
        - bootnode
  gc:
    options:
      cache-size: 10
      reserve-size: 16
    timeout: 10m
    type: gc
  kademlia:
    options:
      dynamic: false
    timeout: 5m
    type: kademlia
  manifest:
    options:
      files-in-collection: 10
      max-pathname-length: 64
      postage-amount: 1000
      postage-depth: 16
    timeout: 5m
    type: manifest
  peer-count:
    timeout: 5m
    type: peer-count
  pingpong:
    options:
    timeout: 5m
    type: pingpong
  withdraw:
    options:
      target-address: 0xec44cb15b1b033e74d55ac5d0e24d861bde54532
    timeout: 5m
    type: withdraw
  pss:
    options:
      address-prefix: 2
      node-count: 3
      postage-amount: 1000
      postage-depth: 16
      request-timeout: 5m
    timeout: 5m
    type: pss
  pullsync:
    options:
      chunks-per-node: 1
      postage-amount: 1000
      replication-factor-threshold: 2
      upload-node-count: 1
    timeout: 5m
    type: pullsync
  pushsync:
    options:
      chunks-per-node: 1
      mode: default
      postage-amount: 1000
      postage-depth: 16
      retries: 5
      retry-delay: 1s
      upload-node-count: 1
    timeout: 5m
    type: pushsync
  pushsync-chunks:
    options:
      chunks-per-node: 1
      mode: chunks
      postage-amount: 1000
      exclude-node-group:
        - light
      postage-depth: 16
      retries: 5
      retry-delay: 1s
      upload-node-count: 1
    timeout: 5m
    type: pushsync
  pushsync-light-chunks:
    options:
      chunks-per-node: 1
      mode: light-chunks
      postage-amount: 1000
      exclude-node-group:
        - light
      postage-depth: 16
      retries: 5
      retry-delay: 1s
      upload-node-count: 1
    timeout: 5m
    type: pushsync
  retrieval:
    options:
      chunks-per-node: 1
      postage-amount: 1000
      postage-depth: 16
      upload-node-count: 1
    timeout: 5m
    type: retrieval
  settlements:
    options:
      dry-run: false
      expect-settlements: true
      file-name: settlements
      file-size: 1048576 # 1mb = 1*1024*1024
      postage-amount: 1000
      postage-depth: 16
      threshold: 10000000
      upload-node-count: 3
      wait-before-download: 5s
    timeout: 5m
    type: settlements
  smoke:
    options:
      content-size: 5000000
      postage-amount: 1000000
      postage-depth: 20
      nodes-sync-wait: 1m
      duration: 12h
      upload-timeout: 5m
      download-timeout: 5m
    timeout: 5m
    type: smoke
  load:
    options:
      content-size: 5000000
      postage-amount: 1000000
      gas-price: "10000000000"
      postage-depth: 20
      nodes-sync-wait: 1m
      duration: 12h
      downloader-count: 3
      upload-group:
        - gateway
      download-group:
        - bee
        - light
    timeout: 12h
    type: load
  soc:
    options:
      postage-amount: 1000
      postage-depth: 16
      request-timeout: 5m
    timeout: 5m
    type: soc
  postage:
    type: postage
    timeout: 5m
    options:
      postage-amount: 1000
      postage-depth: 17
      postage-topup-amount: 100
      postage-new-depth: 18
  stake:
    type: stake
    timeout: 5m
    options:
      amount: 1000000000000000000
  longavailability:
    options:
      refs:
      retry-wait: 1m
      retry-count: 3
    type: longavailability
  datadurability:
    options:
      ref:
      concurrency:
      max-attempts:
    type: datadurability
  redundancy:
    options:
      postage-amount:
      postage-depth:
      seed:
      data-size:
    type: redundancy

# simulations defines simulations Beekeeper can execute against the cluster
# type filed allows defining same simulation with different names and options
simulations:
  upload:
    options:
      file-count:
      gas-price: "10000000000"
      max-file-size: 2097152 # 2mb = 2*1024*1024
      min-file-size: 1048576 # 1mb = 1*1024*1024
      postage-amount: 1000
      postage-depth: 16
      retries: 5
      retry-delay: 1s
      seed:
      timeout: 60s
      upload-node-name:
      upload-node-percentage: 50
      sync-upload: false
    timeout: 5m
    type: upload
  retrieval:
    options:
      chunks-per-node: 1
      gas-price: "10000000000"
      postage-amount: 1000
      postage-depth: 16
      upload-node-count: 1
      upload-delay: 10s
    timeout: 5m
    type: retrieval
  pushsync:
    options:
      postage-amount: 1000
      postage-depth: 20
      seed:
      proxy-api-endpoint: "http://ethproxy.localhost"
    timeout: 5m
    type: pushsync

# stages defines stages for dynamic execution of checks and simulations
stages:
  static:
  default:
    - - node-group: bee
        add: 2
        start: 0
        stop: 1
        delete: 3
        with-funding: true
      - node-group: drone
        add: 4
        start: 0
        stop: 3
        delete: 1
        with-funding: true
    - - node-group: bee
        add: 3
        start: 1
        stop: 1
        delete: 3
        with-funding: true
      - node-group: drone
        add: 2
        start: 1
        stop: 2
        delete: 1
        with-funding: true
    - - node-group: bee
        add: 4
        start: 1
        stop: 3
        delete: 1
        with-funding: true
      - node-group: drone
        add: 3
        start: 1
        stop: 2
        delete: 1
        with-funding: true
