# clusters defines clusters Beekeeper works with
# clusters may inherit it's configuration from already defined cluster and override specific fields from it
clusters:
  default:
    _inherit: ""
    namespace: bee-playground
    disable-namespace: false
    use-static-endpoints: false
    api-domain: testnet.internal # testnet.ethswarm.org
    api-domain-internal: svc.swarm1.local:1633 # Internal API domain with port when in-cluster is set to true
    api-insecure-tls: true
    api-scheme: http
    funding:
      eth: 0.1
      bzz: 100.0
    node-groups:
      bootnode:
        mode: bootnode
        endpoints:
          - name: bootnode-0
            api-url: http://bootnode-0.bee-playground.testnet.internal
        bee-config: bootnode
        config: default
        nodes:
          - name: bootnode-0
            bootnodes: /dns4/bootnode-0-headless.%s.svc.swarm1.local/tcp/1634/p2p/QmaHzvd3iZduu275CMkMVZKwbsjXSyH3GJRj4UvFJApKcb
            libp2p-key: '{"address":"28678fe31f09f722d53e77ca2395569f19959fa5","crypto":{"cipher":"aes-128-ctr","ciphertext":"0ff319684c4f8decf9c998047febe3417cfc45832b8bb62fd818183d54cf5d0183bfa021ed95addce3b33e83ce7ee73e926f00eea8241d96b349266a4d299829d3d22db0d536315b52b34db4a6778bfd3ce7631ad7256ea0bb9c50abea9de35d740b6fdc50caf929b1d19494690d9ed649105d02c14f5ec49d","cipherparams":{"iv":"4e9a50fb5852b5e61964f696be78066b"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"4d513e81647e4150bb648ed8d2dda28d460802336bf24d620119eac66ae0c0c4"},"mac":"9ae71db96e5ddc1c214538d42082212bbbe53aeac09fcc3e3a8eff815648331e"},"version":3,"id":"ae3bc991-d89f-405a-9e6a-60e27347e22d"}'
            swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
      bee:
        mode: node
        bee-config: default
        config: default
        count: 3
        endpoints:
          - name: bee-0
            api-url: http://bee-0.bee-playground.testnet.internal
          - name: bee-1
            api-url: http://bee-1.bee-playground.testnet.internal
          - name: bee-2
            api-url: http://bee-2.bee-playground.testnet.internal
      light:
        mode: node
        bee-config: light-node
        config: light-node
        count: 2
        endpoints:
          - name: light-0
            api-url: http://light-0.bee-playground.testnet.internal
          - name: light-1
            api-url: http://light-1.bee-playground.testnet.internal

# node-groups defines node groups that can be registered in the cluster
# node-groups may inherit it's configuration from already defined node-group and override specific fields from it
node-groups:
  default:
    _inherit: ""
    image: ethersphere/bee:2.3.0
    image-pull-policy: Always
    ingress-annotations:
      nginx.ingress.kubernetes.io/affinity: "cookie"
      nginx.ingress.kubernetes.io/affinity-mode: "persistent"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "7200"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "7200"
      nginx.ingress.kubernetes.io/session-cookie-max-age: "86400"
      nginx.ingress.kubernetes.io/session-cookie-name: "SWARMGATEWAY"
      nginx.ingress.kubernetes.io/session-cookie-path: "default"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    ingress-class: "nginx"
    labels:
      app.kubernetes.io/component: "node"
      app.kubernetes.io/name: "bee"
      app.kubernetes.io/part-of: "bee"
      app.kubernetes.io/version: "latest"
      beekeeper.ethswarm.org/node-funder: "true"
    persistence-enabled: false
    persistence-storage-class: "local-storage"
    persistence-storage-request: "34Gi"
    pod-management-policy: "OrderedReady"
    resources-limit-cpu: "1"
    resources-limit-memory: 2Gi
    resources-request-cpu: 750m
    resources-request-memory: 1Gi
    restart-policy: "Always"
    update-strategy: "RollingUpdate"

# bee-configs defines Bee configuration that can be assigned to node-groups
# bee-configs may inherit it's configuration from already defined bee-config and override specific fields from it
bee-configs:
  default:
    _inherit: ""
    api-addr: ":1633"
    block-time: 1
    bootnodes: ""
    bootnode-mode: false
    cache-capacity: 1000000
    cors-allowed-origins: ""
    data-dir: "/home/bee/.bee"
    db-open-files-limit: 200
    db-block-cache-capacity: 33554432
    db-write-buffer-size: 33554432
    db-disable-seeks-compaction: false
    full-node: true
    nat-addr: ""
    mainnet: false
    network-id: 12345
    p2p-addr: ":1634"
    p2p-ws-enable: false
    password: "beekeeper"
    payment-early-percent: 50
    payment-threshold: 13500000
    payment-tolerance-percent: 25
    storage-incentives-enable: true
    postage-stamp-start-block: 1
    postage-stamp-address: "0x657241f4494A2F15Ba75346E691d753A978C72Df"
    price-oracle-address: "0x5aFE06fcC0855a76a15c3544b0886EDBE3294d62"
    staking-address: "0xfc28330f1ecE0ef2371B724E0D19c1EE60B728b2"
    redistribution-address: "0x09Ad42a7d020244920309FfA14EA376dd2D3b7d5"
    resolver-options: ""
    chequebook-enable: true
    swap-enable: true
    swap-endpoint: "ws://geth-swap.bee-playground.svc.swarm1.local:8546"
    swap-factory-address: "0xdD661f2500bA5831e3d1FEbAc379Ea1bF80773Ac"
    swap-initial-deposit: 500000000000000000
    tracing-enabled: true
    tracing-endpoint: "10.10.11.199:6831"
    tracing-service-name: "bee"
    verbosity: 5 # 1=error, 2=warn, 3=info, 4=debug, 5=trace
    welcome-message: "Welcome to the Swarm, you are Bee-ing connected!"
    warmup-time: 0s
    allow-private-cidrs: true
    withdrawal-addresses-whitelist: "0xec44cb15b1b033e74d55ac5d0e24d861bde54532"
  bootnode:
    _inherit: "default"
    bootnode-mode: true

# checks defines checks Beekeeper can execute against the cluster
# type filed allows defining same check with different names and options
checks:
  act:
    options:
      file-size: 1024
      postage-depth: 20
      postage-ttl: 72h
      postage-label: act-label
      seed: 0
    timeout: 5m
    type: act
  balances:
    options:
      dry-run: false
      file-name: balances
      file-size: 1048576 # 1mb = 1*1024*1024
      postage-ttl: 24h
      postage-depth: 16
      upload-node-count: 3
      wait-before-download: 5s
    timeout: 5m
    type: balances
  cashout:
    options:
      node-group: bee
    timeout: 5m
    type: cashout
  datadurability:
    options:
      ref:
      concurrency:
      max-attempts:
    type: datadurability
  file-retrieval:
    options:
      file-name: file-retrieval
      file-size: 1048576 # 1mb = 1*1024*1024
      files-per-node: 1
      full: false
      postage-ttl: 24h
      postage-label: test-label
      upload-node-count: 3
    timeout: 5m
    type: file-retrieval
  full-connectivity:
    timeout: 5m
    type: full-connectivity
    options:
      boot-nodes:
        - bootnode
      group-1:
        - light
      group-2:
        - bee
        - bootnode
  gc:
    options:
      cache-size: 10
      reserve-size: 16
      postage-label: gc-check
    timeout: 5m
    type: gc
  kademlia:
    options:
      dynamic: false
    timeout: 5m
    type: kademlia
  longavailability:
    options:
      refs:
      retry-wait: 1m
      retry-count: 3
    type: longavailability
  manifest:
    options:
      files-in-collection: 10
      max-pathname-length: 64
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
    timeout: 30m
    type: manifest
  networkavailability:
    options:
      rnd-seed:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      sleep-duration: 1h
    timeout: 5m
    type: networkavailability
  peer-count:
    timeout: 5m
    type: peer-count
  pingpong:
    options:
    timeout: 5m
    type: pingpong
  postage:
    type: postage
    timeout: 5m
    options:
      postage-label: postage-check
      postage-amount: 1000
      postage-depth: 17
      postage-topup-amount: 100
      postage-new-depth: 18
  pss:
    options:
      count: 3
      address-prefix: 2
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      request-timeout: 5m
    timeout: 5m
    type: pss
  pullsync:
    options:
      chunks-per-node: 1
      postage-ttl: 24h
      replication-factor-threshold: 2
      upload-node-count: 1
    timeout: 5m
    type: pullsync
  pushsync:
    options:
      chunks-per-node: 1
      mode: default
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      retries: 5
      retry-delay: 1s
      upload-node-count: 1
    timeout: 5m
    type: pushsync
  pushsync-chunks:
    options:
      chunks-per-node: 3
      mode: chunks
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      retries: 5
      retry-delay: 15s
      upload-node-count: 3
      exclude-node-group:
        - light
        - bootnode
    timeout: 5m
    type: pushsync
  pushsync-light-chunks:
    options:
      chunks-per-node: 3
      mode: light-chunks
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      retries: 5
      retry-delay: 30s
      upload-node-count: 3
      exclude-node-group:
        - light
        - bootnode
    timeout: 5m
    type: pushsync
  redundancy:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      seed:
      data-size:
    type: redundancy
  retrieval:
    options:
      chunks-per-node: 3
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      upload-node-count: 3
    timeout: 5m
    type: retrieval
  settlements:
    options:
      dry-run: false
      expect-settlements: true
      file-name: settlements
      file-size: 14680064 # 14mb = 14*1024*1024
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      threshold: 100000000
      upload-node-count: 3
      wait-before-download: 15s
    timeout: 15m
    type: settlements
  smoke:
    options:
      content-size: 5000
      postage-ttl: 72h
      postage-depth: 21
      postage-label: test-label
      nodes-sync-wait: 1m
      upload-timeout: 1m
      download-timeout: 1m
      iteration-wait: 5m
      duration: 15m
    timeout: 30m
    type: smoke
  soc:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      request-timeout: 5m
    timeout: 5m
    type: soc
  stake:
    type: stake
    timeout: 5m
    options:
      amount: 1000000000000000000
      insufficient-amount: 102400
      contract-addr: "0xfc28330f1ecE0ef2371B724E0D19c1EE60B728b2"
      private-key: "4663c222787e30c1994b59044aa5045377a6e79193a8ead88293926b535c722d"
  withdraw:
    options:
      target-address: 0xec44cb15b1b033e74d55ac5d0e24d861bde54532
    timeout: 5m
    type: withdraw
  load:
    options:
      content-size: 500000 #5000000
      gas-price: 10000000000
      postage-ttl: 72h
      postage-depth: 21
      postage-label: test-label
      nodes-sync-wait: 2m
      duration: 12h
      downloader-count: 3
      uploader-count: 2
      max-committed-depth: 2
      committed-depth-check-wait: 5m
      upload-groups:
        - bee
      download-groups:
        - light
    timeout: 12h
    type: load
  gsoc:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
    timeout: 10m
    type: gsoc
  feed:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
    type: feed

# simulations defines simulations Beekeeper can execute against the cluster
# type filed allows defining same simulation with different names and options
simulations:
  upload:
    options:
      file-count:
      gas-price: "10000000000"
      max-file-size: 2097152 # 2mb = 2*1024*1024
      min-file-size: 1048576 # 1mb = 1*1024*1024
      postage-ttl: 24h
      postage-depth: 16
      retries: 5
      retry-delay: 1s
      seed:
      timeout: 60s
      upload-node-name:
      upload-node-percentage: 50
    timeout: 5m
    type: upload
  retrieval:
    options:
      chunks-per-node: 1
      gas-price: "10000000000"
      postage-ttl: 24h
      postage-depth: 16
      upload-node-count: 1
      upload-delay: 10s
    timeout: 5m
    type: retrieval
  pushsync:
    options:
      postage-ttl: 24h
      postage-depth: 20
      seed:
      proxy-api-endpoint: "http://ethproxy.localhost"
    timeout: 5m
    type: pushsync

# stages defines stages for dynamic execution of checks and simulations
stages:
  static:
  default:
    - - node-group: bee
        add: 2
        start: 0
        stop: 1
        delete: 3
        with-funding: true
      - node-group: drone
        add: 4
        start: 0
        stop: 3
        delete: 1
        with-funding: true
    - - node-group: bee
        add: 3
        start: 1
        stop: 1
        delete: 3
        with-funding: true
      - node-group: drone
        add: 2
        start: 1
        stop: 2
        delete: 1
        with-funding: true
    - - node-group: bee
        add: 4
        start: 1
        stop: 3
        delete: 1
        with-funding: true
      - node-group: drone
        add: 3
        start: 1
        stop: 2
        delete: 1
        with-funding: true
