clusters:
  default:
    _inherit: ""
    name: bee
    namespace: beekeeper
    disable-namespace: false
    api-domain: staging.internal
    api-insecure-tls: true
    api-scheme: https
    debug-api-domain: staging.internal
    debug-api-insecure-tls: true
    debug-api-scheme: https
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: default
        config: default
        nodes:  
        - name: bootnode-0
          bootnodes: /dns4/bootnode-1-headless.%s.svc.cluster.local/tcp/1634/p2p/16Uiu2HAmMw7Uj6vfraD9BYx3coDs6MK6pAmActE8fsfaZwigsaB6
          clef-key: '{"address":"b087e2263124cde331e7f7b6951a73b3f9d6209d","crypto":{"cipher":"aes-128-ctr","ciphertext":"daf449b902aeca242a6cbcfaab850f2162ae10edca7693637c24162b41d324e7","cipherparams":{"iv":"3f9097b3313aca121a6e5296e38f84ab"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":4096,"p":6,"r":8,"salt":"5c0a2a3313b1136e87f9ee00cdf0a2bfd800282a0e210deb6fe10cbe57926416"},"mac":"5dd5a91a02de2955733ea9d5171eeb7a6c4777fd6b2b591ca603fddcc10c1195"},"id":"a9820b1f-05f9-40d9-8a86-03d1f79f383f","version":3}'
          clef-password: clefbeesecret
          libp2p-key: '{"address":"aa6675fb77f3f84304a00d5ea09902d8a500364091a457cf21e05a41875d48f7","crypto":{"cipher":"aes-128-ctr","ciphertext":"93effebd3f015f496367e14218cb26d22de8f899e1d7b7686deb6ab43c876ea5","cipherparams":{"iv":"627434462c2f960d37338022d27fc92e"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"a59e72e725fe3de25dd9c55aa55a93ed0e9090b408065a7204e2f505653acb70"},"mac":"dfb1e7ad93252928a7ff21ea5b65e8a4b9bda2c2e09cb6a8ac337da7a3568b8c"},"version":3}'
          swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
        - name: bootnode-1
          bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/16Uiu2HAm6i4dFaJt584m2jubyvnieEECgqM2YMpQ9nusXfy8XFzL
          clef-key: '{"address":"4e998d718f3bdab63cab2fec4be442c38f1b361d","crypto":{"cipher":"aes-128-ctr","ciphertext":"b6d241d3cce6bfea70dcd404f7a06839542f85247b97b6b59dd22e7df6ec5750","cipherparams":{"iv":"c06f3f38a715ad458b63c9174560e54b"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":4096,"p":6,"r":8,"salt":"c4fc6e1b567ae798c4380704e762ff3c83de5432e9458e90f35a0facdcd2069f"},"mac":"455e7d1546e538f4831d1219a4d1efded1465c2655106b7e79c734e0ad642d9a"},"id":"e80a1a17-6945-4aae-9460-863f735f9b1e","version":3}'
          clef-password: clefbeesecret
          libp2p-key: '{"address":"03348ecf3adae1d05dc16e475a83c94e49e28a4d3c7db5eccbf5ca4ea7f688ddcdfe88acbebef2037c68030b1a0a367a561333e5c5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470","crypto":{"cipher":"aes-128-ctr","ciphertext":"0d0ff25e9b03292e622c5a09ec00c2acb7ff5882f02dd2f00a26ac6d3292a434","cipherparams":{"iv":"cd4082caf63320b306fe885796ba224f"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"a4d63d56c539eb3eff2a235090127486722fa2c836cf735d50d673b730cebc3f"},"mac":"aad40da9c1e742e2b01bb8f76ba99ace97ccb0539cea40e31eb6b9bb64a3f36a"},"version":3}'
          swarm-key: '{"address":"ebe269e07161c68a942a3a7fce6b4ed66867d6f0","crypto":{"cipher":"aes-128-ctr","ciphertext":"06b550c35b46099aea8f6c9f799497d34bd5ebc13af79c7cdb2a1037227544ad","cipherparams":{"iv":"fa088e69b1849e40f190a5f69f0555f8"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"42b4f2815c0042d02eed916a7a74ecdc005f1f7eae0cfb5837c15f469df9ddba"},"mac":"23e3d0594ab94587258a33cc521edbde009b887a6f117ed7a3422d1c95123568"},"version":3}'
      bee:
        bee-config: default
        config: default
        count: 3
        mode: node
      light:
        bee-config: light-node
        config: light-node
        count: 3
        mode: node

node-groups:
  default:
    _inherit: ""
    clef-image: ethersphere/clef:latest
    clef-image-pull-policy: Always
    image: ethersphere/bee:0.5.3
    image-pull-policy: IfNotPresent
    image-pull-secrets: [regcred]
    ingress-annotations:
      kubernetes.io/ingress.class: "nginx-internal"
      nginx.ingress.kubernetes.io/affinity: "cookie"
      nginx.ingress.kubernetes.io/affinity-mode: "persistent"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "7200"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "7200"
      nginx.ingress.kubernetes.io/session-cookie-max-age: "86400"
      nginx.ingress.kubernetes.io/session-cookie-name: "SWARMGATEWAY"
      nginx.ingress.kubernetes.io/session-cookie-path: "default"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    ingress-debug-annotations:
      kubernetes.io/ingress.class: "nginx-internal"
    labels:
      app.kubernetes.io/component: "node"
      app.kubernetes.io/part-of: "bee"
      app.kubernetes.io/version: "latest"
    node-selector: 
      node-group: "bee-staging"
    persistence-enabled: true
    persistence-storage-class: "local-storage"
    persistence-storage-request: "34Gi"
    pod-management-policy: "OrderedReady"
    resources-limit-cpu: "1"
    resources-limit-memory: 2Gi
    resources-request-cpu: 750m
    resources-request-memory: 1Gi
    restart-policy: "Always"
    update-strategy: "RollingUpdate"

bee-configs:
  default:
    _inherit: ""
    api-addr: ":1633"
    bootnodes: ""
    clef-signer-enable: false
    clef-signer-endpoint: ""
    cors-allowed-origins: ""
    data-dir: "/home/bee/.bee"
    db-capacity: 5000000
    debug-api-addr: ":1635"
    debug-api-enable: true
    full-node: true
    gateway-mode: false
    global-pinning-enabled: true
    nat-addr: ""
    network-id: 1987
    p2p-addr: ":1634"
    p2p-quic-enable: false
    pwp-ws-enable: false
    password: "beekeeper"
    payment-early: 1000000000000
    payment-threshold: 10000000000000
    payment-tolerance: 50000000000000
    postage-stamp-address: ""
    price-oracle-address: ""
    resolver-options: ""
    standalone: false
    swap-enable: false
    swap-endpoint: "http://localhost:8545"
    swap-factory-address: ""
    swap-initial-deposit: 10000000000000000
    tracing-enabled: false
    tracing-endpoint: "jaeger-operator-jaeger-agent.observability:6831"
    tracing-service-name: "bee"
    verbosity: 5
    welcome-message: "Welcome to the Swarm, you are Bee-ing connected!"

checks:
  balances:
    options:
      dry-run: false
      file-name: balances
      file-size: 1048576 # 1mb = 1*1024*1024
      postage-amount: 1
      postage-wait: 5s
      upload-node-count: 3
      wait-before-download: 5s
    timeout: 5m
    type: balances
  cashout:
    options:
      node-group: bee
    timeout: 5m
    type: cashout
  chunk-repair:
    options:
      metrics-enabled: 
      node-group: bee
      number-of-chunks-to-repair: 1
      postage-amount: 1
      postage-wait: 5s
      seed: 
    timeout: 5m
    type: chunk-repair
  file-retrieval:
    options:
      file-name: file-retrieval
      file-size: 1048576 # 1mb = 1*1024*1024
      files-per-node: 1
      full: false
      postage-amount: 1
      postage-wait: 5s
      upload-node-count: 3
    timeout: 5m
    type: file-retrieval
  full-connectivity:
    timeout: 5m
    type: full-connectivity
  gc:
    options:
      cache-size: 1000
      postage-amount: 1
      postage-wait: 5s
      reserve-size: 1024
    timeout: 5m
    type: gc
  kademlia:
    options:
      dynamic: false
    timeout: 5m
    type: kademlia
  manifest:
    options:
      files-in-collection: 10
      max-pathname-length: 64
      postage-amount: 1
      postage-depth: 16
      postage-wait: 5s
    timeout: 5m
    type: manifest
  peer-count:
    timeout: 5m
    type: peer-count
  pingpong:
    options:
      metrics-enabled: 
    timeout: 5m
    type: pingpong
  pss:
    options:
      address-prefix: 10
      metrics-enabled:
      node-count: 3
      postage-amount: 1
      postage-depth: 16
      postage-wait: 5s
      request-timeout: 5m
    timeout: 5m
    type: pss
  pullsync:
    options:
      chunks-per-node: 1
      postage-amount: 1
      postage-wait: 5s
      replication-factor-threshold: 2
      upload-node-count: 1
    timeout: 5m
    type: pullsync
  pushsync:
    options:
      chunks-per-node: 1
      metrics-enabled:
      mode: default
      postage-amount: 1
      postage-depth: 16
      postage-wait: 5s
      retries: 5
      retry-delay: 1s
      upload-node-count: 1
    timeout: 5m
    type: pushsync
  pushsync-chunks:
    options:
      chunks-per-node: 1
      metrics-enabled:
      mode: chunks
      postage-amount: 1
      postage-depth: 16
      postage-wait: 5s
      retries: 5
      retry-delay: 1s
      upload-node-count: 1
    timeout: 5m
    type: pushsync
  pushsync-light-chunks:
    options:
      chunks-per-node: 1
      metrics-enabled:
      mode: light-chunks
      postage-amount: 1
      postage-depth: 16
      postage-wait: 5s
      retries: 5
      retry-delay: 1s
      upload-node-count: 1
    timeout: 5m
    type: pushsync
  retrieval:
    options:
      chunks-per-node: 1
      metrics-enabled:
      postage-amount: 1
      postage-depth: 16
      postage-wait: 5s
      upload-node-count: 1
    timeout: 5m
    type: retrieval
  settlements:
    options:
      dry-run: false
      expect-settlements: true
      file-name: settlements
      file-size: 1048576 # 1mb = 1*1024*1024
      postage-amount: 1
      postage-depth: 16
      postage-wait: 5s
      threshold: 10000000000000
      upload-node-count: 3
      wait-before-downloading: 5s
    timeout: 5m
    type: settlements
  smoke:
    options:
      bytes: 0
      node-group: bee
      runs: 1
      timeout: 0s
      upload-node-count: 1
    timeout: 5m
    type: smoke
  soc:
    options:
      postage-amount: 1
      postage-depth: 16
      postage-wait: 5s
      request-timeout: 5m
    timeout: 5m
    type: soc

simulations:
  upload:
    options:
      file-size: 1048576 # 1mb = 1*1024*1024
      postage-wait: 5s
      retries: 5
      retry-delay: 1s
      seed: 
      timeout: 5m
      upload-node-percentage: 50
    timeout: 5m
    type: upload

stages:
  static:
  default:
    -
      - node-group: bee
        add: 2
        start: 0
        stop: 1
        delete: 3
      - node-group: drone
        add: 4
        start: 0
        stop: 3
        delete: 1
    -
      - node-group: bee
        add: 3
        start: 1
        stop: 1
        delete: 3
      - node-group: drone
        add: 2
        start: 1
        stop: 2
        delete: 1
    -
      - node-group: bee
        add: 4
        start: 1
        stop: 3
        delete: 1
      - node-group: drone
        add: 3
        start: 1
        stop: 2
        delete: 1
