# clusters defines clusters Beekeeper works with
clusters:
  local:
    _inherit: ""
    name: bee
    namespace: local
    disable-namespace: true
    api-domain: localhost
    api-scheme: http
    debug-api-domain: localhost
    debug-api-scheme: http
    admin-password: test
    funding:
      eth: 0.1
      bzz: 100.0
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: bootnode-local
        config: local
        nodes:  
        - name: bootnode-0
          bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/16Uiu2HAm6i4dFaJt584m2jubyvnieEECgqM2YMpQ9nusXfy8XFzL
          # clef-key: '{"address":"1c4bc31fb44362ee7523a715913ef88cb2124d9c","crypto":{"cipher":"aes-128-ctr","ciphertext":"d71ca74e969857e215fbf61b8474bcec90b54b87a77d9c4ba586471b98068510","cipherparams":{"iv":"a542cef23e0cd4cd3934d100f92dc0c6"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"d9fafd5fedbf0901a8b23581f8995ec72df2450f7f504019e450cc5a1d95b6aa"},"mac":"4da3db2eb5f363193786f19587d7f3312b873e9e7564a1eae42032aa603d11c7"},"id":"961e0366-c6b2-42d7-b96b-7d8efa622aaf","version":3}'
          # clef-password: clefbeesecret
          libp2p-key: '{"address":"aa6675fb77f3f84304a00d5ea09902d8a500364091a457cf21e05a41875d48f7","crypto":{"cipher":"aes-128-ctr","ciphertext":"93effebd3f015f496367e14218cb26d22de8f899e1d7b7686deb6ab43c876ea5","cipherparams":{"iv":"627434462c2f960d37338022d27fc92e"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"a59e72e725fe3de25dd9c55aa55a93ed0e9090b408065a7204e2f505653acb70"},"mac":"dfb1e7ad93252928a7ff21ea5b65e8a4b9bda2c2e09cb6a8ac337da7a3568b8c"},"version":3}'
          swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
      bee:
        bee-config: bee-local
        config: local
        count: 2
        mode: node
  local-dns:
    _inherit: "local"
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: bootnode-local-dns
        config: local-dns
        nodes:  
        - name: bootnode-0
          bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/16Uiu2HAm6i4dFaJt584m2jubyvnieEECgqM2YMpQ9nusXfy8XFzL
          libp2p-key: '{"address":"aa6675fb77f3f84304a00d5ea09902d8a500364091a457cf21e05a41875d48f7","crypto":{"cipher":"aes-128-ctr","ciphertext":"93effebd3f015f496367e14218cb26d22de8f899e1d7b7686deb6ab43c876ea5","cipherparams":{"iv":"627434462c2f960d37338022d27fc92e"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"a59e72e725fe3de25dd9c55aa55a93ed0e9090b408065a7204e2f505653acb70"},"mac":"dfb1e7ad93252928a7ff21ea5b65e8a4b9bda2c2e09cb6a8ac337da7a3568b8c"},"version":3}'
          swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
      bee:
        bee-config: bee-local-dns
        config: local-dns
        count: 2
        mode: node
      light:
        bee-config: bee-local-light
        config: local-light
        count: 2
        mode: node
      restricted:
        mode: node
        bee-config: bee-local-restricted
        config: bee-local-restricted
        count: 1
  local-clef:
    _inherit: "local"
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: bootnode-local-clef
        config: local-clef
        nodes:
        - name: bootnode-0
          bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/16Uiu2HAm6i4dFaJt584m2jubyvnieEECgqM2YMpQ9nusXfy8XFzL
          libp2p-key: '{"address":"aa6675fb77f3f84304a00d5ea09902d8a500364091a457cf21e05a41875d48f7","crypto":{"cipher":"aes-128-ctr","ciphertext":"93effebd3f015f496367e14218cb26d22de8f899e1d7b7686deb6ab43c876ea5","cipherparams":{"iv":"627434462c2f960d37338022d27fc92e"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"a59e72e725fe3de25dd9c55aa55a93ed0e9090b408065a7204e2f505653acb70"},"mac":"dfb1e7ad93252928a7ff21ea5b65e8a4b9bda2c2e09cb6a8ac337da7a3568b8c"},"version":3}'
          clef:
            key: '{"address":"1c4bc31fb44362ee7523a715913ef88cb2124d9c","crypto":{"cipher":"aes-128-ctr","ciphertext":"d71ca74e969857e215fbf61b8474bcec90b54b87a77d9c4ba586471b98068510","cipherparams":{"iv":"a542cef23e0cd4cd3934d100f92dc0c6"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"d9fafd5fedbf0901a8b23581f8995ec72df2450f7f504019e450cc5a1d95b6aa"},"mac":"4da3db2eb5f363193786f19587d7f3312b873e9e7564a1eae42032aa603d11c7"},"id":"961e0366-c6b2-42d7-b96b-7d8efa622aaf","version":3}'
            password: clefbeesecret
      bee:
        bee-config: bee-local-clef
        config: local-clef
        mode: node
        nodes:
        - clef:
            key: '{"address":"4558ab6d518bf60b813eeba3077eed986027c5da","crypto":{"cipher":"aes-128-ctr","ciphertext":"1bbeffa438a8b8fd592a46323fe0168d8d8e2625085ca8550023b5c0bd48a126","cipherparams":{"iv":"3f369a742a465aaf5e3025864639421a"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"4c2c1fde6491213ea3c6021c82a70327bc0a056569a6e7c2a3fda9e486c0f090"},"mac":"f733b77f675acf0539e7d3d60735408c6efd43893dc0d5b0f94124b0197f89dd"},"id":"1e526dc4-60bd-4c4d-897d-f284806abf2b","version":3}'
            password: clefbeesecret
        - clef:
            key: '{"address":"24d7ed323121dedde08d1a9bbd9d054b839daeb8","crypto":{"cipher":"aes-128-ctr","ciphertext":"ea7572730209e815078fd6a32abce9cceeeb2aabe44908bc212005cd3e705ed0","cipherparams":{"iv":"05d4ef77ecfe7a95b970b04998314303"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":64,"p":1,"r":8,"salt":"6b3b75689f29a6cbe458cafdadddbb42e2b4256e9729570fb4b1077a09a1b9fb"},"mac":"729d8049519daee7559a856fc11f9166fffe9ceef3533f288ba335d9fdcab392"},"id":"009aafd5-e803-46c0-a061-bf314a81cf79","version":3}'
            password: clefbeesecret
  local-gc:
    _inherit: "local"
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: bootnode-local-gc
        config: local-gc
        nodes:  
        - name: bootnode-0
          bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/16Uiu2HAm6i4dFaJt584m2jubyvnieEECgqM2YMpQ9nusXfy8XFzL
          libp2p-key: '{"address":"aa6675fb77f3f84304a00d5ea09902d8a500364091a457cf21e05a41875d48f7","crypto":{"cipher":"aes-128-ctr","ciphertext":"93effebd3f015f496367e14218cb26d22de8f899e1d7b7686deb6ab43c876ea5","cipherparams":{"iv":"627434462c2f960d37338022d27fc92e"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"a59e72e725fe3de25dd9c55aa55a93ed0e9090b408065a7204e2f505653acb70"},"mac":"dfb1e7ad93252928a7ff21ea5b65e8a4b9bda2c2e09cb6a8ac337da7a3568b8c"},"version":3}'
          swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
      bee:
        bee-config: bee-local-gc
        config: local-gc
        count: 2
        mode: node

# node-groups defines node groups that can be registered in the cluster
node-groups:
  local:
    _inherit: ""
    clef-image: ethersphere/clef:latest
    clef-image-pull-policy: Always
    image: k3d-registry.localhost:5000/ethersphere/bee:latest
    image-pull-policy: Always
    ingress-annotations:
      nginx.ingress.kubernetes.io/affinity: "cookie"
      nginx.ingress.kubernetes.io/affinity-mode: "persistent"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "7200"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "7200"
      nginx.ingress.kubernetes.io/session-cookie-max-age: "86400"
      nginx.ingress.kubernetes.io/session-cookie-name: "SWARMGATEWAY"
      nginx.ingress.kubernetes.io/session-cookie-path: "default"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    ingress-class: "traefik"
    ingress-debug-class: "traefik"
    labels:
      app.kubernetes.io/component: "node"
      app.kubernetes.io/part-of: "bee"
      app.kubernetes.io/version: "latest"
    node-selector: 
      node-group: "local"
    persistence-enabled: false
    pod-management-policy: "OrderedReady"
    resources-limit-cpu: "250m"
    resources-limit-memory: 0.5Gi
    resources-request-cpu: 150m
    resources-request-memory: 0.25Gi
    restart-policy: "Always"
    update-strategy: "RollingUpdate"
  local-dns:
    _inherit: "local"
  local-clef:
    _inherit: "local"
  local-gc:
    _inherit: "local"
  local-light:
    _inherit: "local"
  bee-local-restricted:
    _inherit: "local"

# bee-configs defines Bee configuration that can be assigned to node-groups
bee-configs:
  bee-local:
    _inherit: ""
    api-addr: ":1633"
    block-time: 1
    bootnodes: ""
    bootnode-mode: false
    cache-capacity: 20000
    clef-signer-enable: false
    clef-signer-endpoint: ""
    cors-allowed-origins: ""
    data-dir: "/home/bee/.bee"
    db-open-files-limit: 200
    db-block-cache-capacity: 33554432
    db-write-buffer-size: 33554432
    db-disable-seeks-compaction: false
    debug-api-addr: ":1635"
    debug-api-enable: false
    full-node: true
    gateway-mode: false
    global-pinning-enabled: true
    mainnet: false
    nat-addr: ""
    network-id: 1987
    p2p-addr: ":1634"
    p2p-quic-enable: false
    p2p-ws-enable: false
    password: "beekeeper"
    payment-early-percent: 50
    payment-threshold: 100000000
    payment-tolerance-percent: 25
    postage-stamp-address: "0x538e6de1d876bbcd5667085257bc92f7c808a0f3"
    price-oracle-address: "0xfc28330f1ece0ef2371b724e0d19c1ee60b728b2"
    resolver-options: ""
    restricted: false
    token-encryption-key: ""
    admin-password: ""
    standalone: false
    chequebook-enable: true
    swap-enable: true
    swap-endpoint: "ws://geth-swap:8546"
    swap-factory-address: "0x09ad42a7d020244920309ffa14ea376dd2d3b7d5"
    swap-legacy-factory-addresses: "0x657241f4494a2f15ba75346e691d753a978c72df"
    swap-initial-deposit: 500000000000000000
    transaction: ""
    verbosity: 5
    welcome-message: "Welcome to the Swarm, this is a local cluster!"
    warmup-time: 0s
    allow-private-cidrs: true

  bootnode-local:
    _inherit: "bee-local"
    bootnode-mode: true
  bee-local-dns:
    _inherit: "bee-local"
    bootnode: /dnsaddr/localhost
  bootnode-local-dns:
    _inherit: "bee-local"
    bootnode: /dnsaddr/localhost
    bootnode-mode: true
  bee-local-light:
    _inherit: "bee-local"
    bootnode: /dnsaddr/localhost
    full-node: false
  bee-local-clef:
    _inherit: "bee-local"
    clef-signer-enable: true
    clef-signer-endpoint: "http://localhost:8550"
  bee-local-restricted:
    _inherit: "bee-local"
    bootnode: /dnsaddr/localhost
    restricted: true
    token-encryption-key: testtest
    admin-password: $2a$12$Ltg3M2W53Xv9wwJ2.iAv4e4gWELrrr8D2dYat7wNdY2xArdmOSL1i
  bootnode-local-clef:
    _inherit: "bee-local"
    clef-signer-enable: true
    clef-signer-endpoint: "http://localhost:8550"
    bootnode-mode: true
  bee-local-gc:
    _inherit: "bee-local"
    cache-capacity: 10
  bootnode-local-gc:
    _inherit: "bee-local"
    cache-capacity: 10
    bootnode-mode: true

# CI checks
checks:
  ci-full-connectivity:
    timeout: 5m
    type: full-connectivity
    options:
      boot-nodes:
      - bootnode  
      group-1:
      - light
      group-2:
      - bee
      - bootnode
  ci-gc:
    options:
      cache-size: 10
      reserve-size: 16
    timeout: 5m
    type: gc
  ci-manifest:
    options:
      files-in-collection: 10
      max-pathname-length: 64
      postage-amount: 1000
      postage-depth: 16
    timeout: 5m
    type: manifest
  ci-pingpong:
    options:
    timeout: 5m
    type: pingpong
  ci-pss:
    options:
      address-prefix: 2
      node-count: 3
      postage-amount: 1000
      postage-depth: 16
      request-timeout: 5m
    timeout: 5m
    type: pss
  ci-pushsync-chunks:
    options:
      chunks-per-node: 3
      mode: chunks
      postage-amount: 1000
      postage-depth: 16
      retries: 5
      retry-delay: 15s
      upload-node-count: 3
      exclude-node-group:
      - light
    timeout: 5m
    type: pushsync
  ci-pushsync-light-chunks:
    options:
      chunks-per-node: 3
      mode: light-chunks
      postage-amount: 10000
      postage-depth: 16
      retries: 5
      retry-delay: 30s
      upload-node-count: 3
      exclude-node-group:
      - light
    timeout: 5m
    type: pushsync
  ci-retrieval:
    options:
      chunks-per-node: 3
      postage-amount: 1000
      postage-depth: 16
      upload-node-count: 3
    timeout: 5m
    type: retrieval
  ci-settlements:
    options:
      dry-run: false
      expect-settlements: true
      file-name: settlements
      file-size: 14680064 # 14mb = 14*1024*1024
      postage-amount: 1000
      postage-depth: 20
      threshold: 100000000
      upload-node-count: 3
      wait-before-download: 20s
    timeout: 5m
    type: settlements
  ci-settlements-clef:
    options:
      dry-run: false
      expect-settlements: true
      file-name: settlements
      file-size: 14680064 # 14mb = 14*1024*1024
      postage-amount: 1000
      postage-depth: 20
      threshold: 100000000
      upload-node-count: 3
      wait-before-download: 35s
    timeout: 5m
    type: settlements
  ci-smoke:
    options:
      content-size: 5000000
      postage-amount: 1000000
      postage-depth: 20
      nodes-sync-wait: 1m
    timeout: 5m
    type: smoke
  ci-soc:
    options:
      postage-amount: 1000
      postage-depth: 16
      request-timeout: 5m
    timeout: 5m
    type: soc
  ci-content-availability:
    type: content-availability
    timeout: 5m
    options:
      content-size: 16384
      postage-amount: 1000
      postage-depth: 16
  ci-postage:
    type: postage
    timeout: 5m
    options:
      postage-amount: 1000
      postage-depth: 17
      postage-topup-amount: 100
      postage-new-depth: 18
  ci-authenticate:
    type: authenticate
    timeout: 5m
    options:
      role: consumer
      admin-password: test
      restricted-group-name: restricted
