# clusters defines clusters Beekeeper works with
clusters:
  local:
    _inherit: ""
    namespace: local
    disable-namespace: true
    api-domain: localhost
    api-domain-internal: local.svc.cluster.local:1633
    api-scheme: http
    funding:
      eth: 0.1
      bzz: 100.0
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: bootnode-local
        config: local
        nodes:
          - name: bootnode-0
            bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/QmaHzvd3iZduu275CMkMVZKwbsjXSyH3GJRj4UvFJApKcb
            libp2p-key: '{"address":"28678fe31f09f722d53e77ca2395569f19959fa5","crypto":{"cipher":"aes-128-ctr","ciphertext":"0ff319684c4f8decf9c998047febe3417cfc45832b8bb62fd818183d54cf5d0183bfa021ed95addce3b33e83ce7ee73e926f00eea8241d96b349266a4d299829d3d22db0d536315b52b34db4a6778bfd3ce7631ad7256ea0bb9c50abea9de35d740b6fdc50caf929b1d19494690d9ed649105d02c14f5ec49d","cipherparams":{"iv":"4e9a50fb5852b5e61964f696be78066b"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"4d513e81647e4150bb648ed8d2dda28d460802336bf24d620119eac66ae0c0c4"},"mac":"9ae71db96e5ddc1c214538d42082212bbbe53aeac09fcc3e3a8eff815648331e"},"version":3,"id":"ae3bc991-d89f-405a-9e6a-60e27347e22d"}'
            swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
      bee:
        bee-config: bee-local
        config: local
        count: 2
        mode: node
  local-dns-autotls:
    _inherit: "local"
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: bootnode-local-dns-autotls
        config: local-dns-autotls
        nodes:
          - name: bootnode-0
            bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/QmaHzvd3iZduu275CMkMVZKwbsjXSyH3GJRj4UvFJApKcb
            libp2p-key: '{"address":"28678fe31f09f722d53e77ca2395569f19959fa5","crypto":{"cipher":"aes-128-ctr","ciphertext":"0ff319684c4f8decf9c998047febe3417cfc45832b8bb62fd818183d54cf5d0183bfa021ed95addce3b33e83ce7ee73e926f00eea8241d96b349266a4d299829d3d22db0d536315b52b34db4a6778bfd3ce7631ad7256ea0bb9c50abea9de35d740b6fdc50caf929b1d19494690d9ed649105d02c14f5ec49d","cipherparams":{"iv":"4e9a50fb5852b5e61964f696be78066b"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"4d513e81647e4150bb648ed8d2dda28d460802336bf24d620119eac66ae0c0c4"},"mac":"9ae71db96e5ddc1c214538d42082212bbbe53aeac09fcc3e3a8eff815648331e"},"version":3,"id":"ae3bc991-d89f-405a-9e6a-60e27347e22d"}'
            swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
      bee:
        bee-config: bee-local-dns-autotls
        config: local-dns-autotls
        count: 3
        mode: node
      light:
        bee-config: bee-local-light-autotls
        config: local-light-autotls
        count: 2
        mode: node
      wss:
        bee-config: bee-local-wss
        config: local
        count: 2
        mode: node
      ultralight:
        bee-config: bee-local-ultralight
        config: local-ultralight
        count: 1
        mode: node
  local-dns:
    _inherit: "local"
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: bootnode-local-dns
        config: local-dns
        nodes:
          - name: bootnode-0
            bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/QmaHzvd3iZduu275CMkMVZKwbsjXSyH3GJRj4UvFJApKcb
            libp2p-key: '{"address":"28678fe31f09f722d53e77ca2395569f19959fa5","crypto":{"cipher":"aes-128-ctr","ciphertext":"0ff319684c4f8decf9c998047febe3417cfc45832b8bb62fd818183d54cf5d0183bfa021ed95addce3b33e83ce7ee73e926f00eea8241d96b349266a4d299829d3d22db0d536315b52b34db4a6778bfd3ce7631ad7256ea0bb9c50abea9de35d740b6fdc50caf929b1d19494690d9ed649105d02c14f5ec49d","cipherparams":{"iv":"4e9a50fb5852b5e61964f696be78066b"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"4d513e81647e4150bb648ed8d2dda28d460802336bf24d620119eac66ae0c0c4"},"mac":"9ae71db96e5ddc1c214538d42082212bbbe53aeac09fcc3e3a8eff815648331e"},"version":3,"id":"ae3bc991-d89f-405a-9e6a-60e27347e22d"}'
            swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
      bee:
        bee-config: bee-local-dns
        config: local-dns
        count: 3
        mode: node
      wss:
        bee-config: bee-local-wss
        config: local-dns
        count: 2
        mode: node
      light:
        bee-config: bee-local-light
        config: local-light
        count: 2
        mode: node
      ultralight:
        bee-config: bee-local-ultralight
        config: local-ultralight
        count: 2
        mode: node
  local-gc:
    _inherit: "local"
    node-groups:
      bootnode:
        mode: bootnode
        bee-config: bootnode-local-gc
        config: local-gc
        nodes:
          - name: bootnode-0
            bootnodes: /dns4/bootnode-0-headless.%s.svc.cluster.local/tcp/1634/p2p/QmaHzvd3iZduu275CMkMVZKwbsjXSyH3GJRj4UvFJApKcb
            libp2p-key: '{"address":"28678fe31f09f722d53e77ca2395569f19959fa5","crypto":{"cipher":"aes-128-ctr","ciphertext":"0ff319684c4f8decf9c998047febe3417cfc45832b8bb62fd818183d54cf5d0183bfa021ed95addce3b33e83ce7ee73e926f00eea8241d96b349266a4d299829d3d22db0d536315b52b34db4a6778bfd3ce7631ad7256ea0bb9c50abea9de35d740b6fdc50caf929b1d19494690d9ed649105d02c14f5ec49d","cipherparams":{"iv":"4e9a50fb5852b5e61964f696be78066b"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"4d513e81647e4150bb648ed8d2dda28d460802336bf24d620119eac66ae0c0c4"},"mac":"9ae71db96e5ddc1c214538d42082212bbbe53aeac09fcc3e3a8eff815648331e"},"version":3,"id":"ae3bc991-d89f-405a-9e6a-60e27347e22d"}'
            swarm-key: '{"address":"f176839c150e52fe30e5c2b5c648465c6fdfa532","crypto":{"cipher":"aes-128-ctr","ciphertext":"352af096f0fca9dfbd20a6861bde43d988efe7f179e0a9ffd812a285fdcd63b9","cipherparams":{"iv":"613003f1f1bf93430c92629da33f8828"},"kdf":"scrypt","kdfparams":{"n":32768,"r":8,"p":1,"dklen":32,"salt":"ad1d99a4c64c95c26131e079e8c8a82221d58bf66a7ceb767c33a4c376c564b8"},"mac":"cafda1bc8ca0ffc2b22eb69afd1cf5072fd09412243443be1b0c6832f57924b6"},"version":3}'
      bee:
        bee-config: bee-local-gc
        config: local-gc
        count: 2
        mode: node

# node-groups defines node groups that can be registered in the cluster
node-groups:
  local:
    _inherit: ""
    image: k3d-registry.localhost:5000/ethersphere/bee:latest
    image-pull-policy: Always
    ingress-annotations:
      nginx.ingress.kubernetes.io/affinity: "cookie"
      nginx.ingress.kubernetes.io/affinity-mode: "persistent"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "7200"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "7200"
      nginx.ingress.kubernetes.io/session-cookie-max-age: "86400"
      nginx.ingress.kubernetes.io/session-cookie-name: "SWARMGATEWAY"
      nginx.ingress.kubernetes.io/session-cookie-path: "default"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    ingress-class: "traefik"
    labels:
      app.kubernetes.io/component: "node"
      app.kubernetes.io/name: "bee"
      app.kubernetes.io/part-of: "bee"
      app.kubernetes.io/version: "latest"
      beekeeper.ethswarm.org/node-funder: "true"
    node-selector:
      node-group: "local"
    persistence-enabled: false
    pod-management-policy: "OrderedReady"
    resources-limit-cpu: "250m"
    resources-limit-memory: 0.5Gi
    resources-request-cpu: 150m
    resources-request-memory: 0.25Gi
    restart-policy: "Always"
    update-strategy: "RollingUpdate"
  local-dns:
    _inherit: "local"
  local-dns-autotls:
    _inherit: "local"
  local-light-autotls:
    _inherit: "local-light"
  local-gc:
    _inherit: "local"
  local-light:
    _inherit: "local"
  local-ultralight:
    _inherit: "local"
    labels:
      app.kubernetes.io/component: "node"
      app.kubernetes.io/name: "bee"
      app.kubernetes.io/part-of: "bee"
      app.kubernetes.io/version: "latest"
      beekeeper.ethswarm.org/node-funder: "false"

# bee-configs defines Bee configuration that can be assigned to node-groups
bee-configs:
  bootnode-local-dns-autotls:
    _inherit: "bee-local-dns-autotls"
    bootnode-mode: true
  bee-local-dns-autotls:
    _inherit: "bee-local"
    bootnode: /dnsaddr/bootnode-0-headless.local.svc.cluster.local
    p2p-ws-enable: true
  bee-local-light-autotls:
    _inherit: "bee-local"
    bootnode: /dnsaddr/bootnode-0-headless.local.svc.cluster.local
    full-node: false
    p2p-ws-enable: true
  bee-local:
    _inherit: ""
    allow-private-cidrs: true
    api-addr: ":1633"
    autotls-ca-endpoint: "https://pebble:14000/dir" # https://pebble.local.svc.cluster.local:14000/dir
    autotls-domain: "local.test"
    autotls-registration-endpoint: http://p2p-forge.local.svc.cluster.local:8080 # "http://p2p-forge:8080" # http://p2p-forge.local.svc.cluster.local:8080/v1/_acme-challenge #http://p2p-forge:8080/v1/_acme-challenge
    block-time: 1
    blockchain-rpc-endpoint: "ws://geth-swap:8546"
    bootnode-mode: false
    bootnodes: ""
    cache-capacity: 20000
    chequebook-enable: true
    cors-allowed-origins: ""
    data-dir: "/home/bee/.bee"
    db-block-cache-capacity: 33554432
    db-disable-seeks-compaction: false
    db-open-files-limit: 200
    db-write-buffer-size: 33554432
    full-node: true
    mainnet: false
    nat-addr: ""
    nat-wss-addr: ""
    network-id: 0
    p2p-addr: ":1634"
    p2p-wss-addr: ":1635"
    p2p-ws-enable: false
    p2p-wss-enable: false
    password: "beekeeper"
    payment-early-percent: 50
    payment-threshold: 13500000
    payment-tolerance-percent: 25
    postage-stamp-address: "0x657241f4494A2F15Ba75346E691d753A978C72Df"
    postage-stamp-start-block: 1
    price-oracle-address: "0x5aFE06fcC0855a76a15c3544b0886EDBE3294d62"
    redistribution-address: "0x09Ad42a7d020244920309FfA14EA376dd2D3b7d5"
    resolver-options: ""
    staking-address: "0xfc28330f1ecE0ef2371B724E0D19c1EE60B728b2"
    storage-incentives-enable: true
    swap-enable: true
    swap-factory-address: "0xdD661f2500bA5831e3d1FEbAc379Ea1bF80773Ac"
    swap-initial-deposit: 500000000000000000
    verbosity: 5
    warmup-time: 0s
    welcome-message: "Welcome to the Swarm, this is a local cluster!"
    withdrawal-addresses-whitelist: "0xec44cb15b1b033e74d55ac5d0e24d861bde54532"

  bootnode-local:
    _inherit: "bee-local"
    bootnode-mode: true
  bee-local-wss:
    _inherit: "bee-local"
    p2p-wss-enable: true
  bee-local-dns:
    _inherit: "bee-local"
    bootnode: /dnsaddr/localhost
  bootnode-local-dns:
    _inherit: "bee-local"
    bootnode: /dnsaddr/localhost
    bootnode-mode: true
  bee-local-light:
    _inherit: "bee-local"
    bootnode: /dnsaddr/localhost
    full-node: false
  bee-local-gc:
    _inherit: "bee-local"
    cache-capacity: 10
  bee-local-ultralight:
    _inherit: "bee-local"
    blockchain-rpc-endpoint: ""
    full-node: false
    swap-enable: false
  bootnode-local-gc:
    _inherit: "bee-local"
    cache-capacity: 10
    bootnode-mode: true

# CI checks
checks:
  ci-act:
    options:
      file-size: 1024
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      seed: 0
    timeout: 5m
    type: act
  ci-full-connectivity:
    timeout: 5m
    type: full-connectivity
    options:
      boot-nodes:
        - bootnode
      group-1:
        - light
      group-2:
        - bee
        - bootnode
  ci-gc:
    options:
      cache-size: 10
      reserve-size: 16
      postage-label: gc-check
    timeout: 5m
    type: gc
  ci-manifest-v1:
    options:
      files-in-collection: 10
      max-pathname-length: 64
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
    timeout: 30m
    type: manifest
  ci-manifest:
    options:
      files-in-collection: 10
      max-pathname-length: 64
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
    timeout: 30m
    type: manifest
  ci-pingpong:
    options:
    timeout: 5m
    type: pingpong
  ci-withdraw:
    options:
      target-address: 0xec44cb15b1b033e74d55ac5d0e24d861bde54532
    timeout: 5m
    type: withdraw
  ci-pss:
    options:
      count: 3
      address-prefix: 2
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      request-timeout: 10m
    timeout: 30m
    type: pss
  ci-pushsync-chunks:
    options:
      chunks-per-node: 3
      mode: chunks
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      retries: 5
      retry-delay: 15s
      upload-node-count: 3
      exclude-node-group:
        - light
        - bootnode
    timeout: 5m
    type: pushsync
  ci-pushsync-light-chunks:
    options:
      chunks-per-node: 3
      mode: light-chunks
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      retries: 5
      retry-delay: 30s
      upload-node-count: 3
      exclude-node-group:
        - light
        - bootnode
    timeout: 5m
    type: pushsync
  ci-retrieval:
    options:
      chunks-per-node: 3
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      upload-node-count: 3
    timeout: 5m
    type: retrieval
  ci-settlements:
    options:
      dry-run: false
      expect-settlements: true
      file-name: settlements
      file-size: 14680064 # 14mb = 14*1024*1024
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      threshold: 100000000
      upload-node-count: 3
      wait-before-download: 15s
    timeout: 15m
    type: settlements
  ci-smoke:
    options:
      content-size: 3072
      file-sizes: [3072, 30720, 307200, 3145728] # [3KB, 30KB, 300KB, 3MB]
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      nodes-sync-wait: 1m
      upload-timeout: 1m
      download-timeout: 1m
      iteration-wait: 5m
      duration: 10m
    timeout: 11m
    type: smoke
  ci-load:
    options:
      content-size: 3072
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      duration: 10m
      uploader-count: 2
      downloader-count: 0
      max-committed-depth: 2
      committed-depth-check-wait: 5m
      upload-groups:
        - bee
      download-groups:
        - light
    timeout: 30m
    type: load
  ci-soc:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      request-timeout: 5m
    timeout: 5m
    type: soc
  ci-content-availability:
    type: content-availability
    timeout: 5m
    options:
      content-size: 16384
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
  ci-postage:
    type: postage
    timeout: 5m
    options:
      postage-label: postage-check
      postage-amount: 1000
      postage-depth: 17
      postage-topup-amount: 100
      postage-new-depth: 18
  ci-stake:
    type: stake
    timeout: 5m
    options:
      amount: 1000000000000000000
      insufficient-amount: 102400
      contract-addr: "0xfc28330f1ecE0ef2371B724E0D19c1EE60B728b2"
      private-key: "4663c222787e30c1994b59044aa5045377a6e79193a8ead88293926b535c722d"
  ci-longavailability:
    options:
      refs:
      retry-wait: 1m
      retry-count: 3
    type: longavailability
  ci-datadurability:
    options:
      ref:
      concurrency:
      max-attempts:
    type: datadurability
  ci-redundancy:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
      seed:
      data-size:
    type: redundancy
  ci-gsoc:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
    timeout: 10m
    type: gsoc
  ci-feed-v1:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
    type: feed-v1
  ci-feed:
    options:
      postage-ttl: 24h
      postage-depth: 21
      postage-label: test-label
    type: feed
  ci-autotls:
    timeout: 15m
    type: autotls
    options:
      ultralight-group: ultralight
      wss-group: wss
