# clusters defines clusters Beekeeper works with
# clusters may inherit it's configuration from already defined cluster and override specific fields from it
clusters:
  staging:
    _inherit: ""
    name: bee
    namespace: beekeeper
    disable-namespace: true
    api-domain: staging.ethswarm.org
    api-insecure-tls: true
    api-scheme: https
    debug-api-domain: staging.internal
    debug-api-insecure-tls: true
    debug-api-scheme: https
    funding:
      eth: 0.1
      gbzz: 2.0
    node-groups:
      bee:
        mode: node
        bee-config: staging
        config: staging
        count: 20

# node-groups defines node groups that can be registered in the cluster
# node-groups may inherit it's configuration from already defined node-group and override specific fields from it
node-groups:
  staging:
    _inherit: "default"
    persistence-enabled: true

# bee-configs defines Bee configuration that can be assigned to node-groups
# bee-configs may inherit it's configuration from already defined bee-config and override specific fields from it
bee-configs:
  staging:
    _inherit: "default"
    bootnodes: "/dnsaddr/mainnet.ethswarm.org"
