# clusters defines clusters Beekeeper works with
# clusters may inherit it's configuration from already defined cluster and override specific fields from it
clusters:
  staging:
    _inherit: ""
    namespace: bee-playground
    disable-namespace: false
    use-static-endpoints: false
    api-domain: testnet.internal # testnet.ethswarm.org
    api-domain-internal: svc.swarm1.local:1633 # Internal API domain with port when in-cluster is set to true
    api-insecure-tls: true
    api-scheme: http
    funding:
      eth: 0.01
      bzz: 1.0
    node-groups:
      bee:
        mode: node
        bee-config: staging
        config: staging
        count: 5

# node-groups defines node groups that can be registered in the cluster
# node-groups may inherit it's configuration from already defined node-group and override specific fields from it
node-groups:
  staging:
    _inherit: "default"
    persistence-enabled: true

# bee-configs defines Bee configuration that can be assigned to node-groups
# bee-configs may inherit it's configuration from already defined bee-config and override specific fields from it
bee-configs:
  staging:
    _inherit: ""
    api-addr: ":1633"
    blockchain-rpc-endpoint: http://rpc-sepolia-haproxy.default.svc.swarm1.local
    bootnodes: /dnsaddr/testnet.ethswarm.org
    full-node: true
    mainnet: false
    network-id: 10
    p2p-addr: ":1634"
    password: "beekeeper"
    swap-enable: true
    tracing-enabled: true
    tracing-endpoint: "10.10.11.199:6831"
    tracing-service-name: "bee"
    verbosity: 4
    welcome-message: Welcome to the bee staging environment created by Beekeeper!

checks:
  st-testnet-load:
    options:
      file-sizes: [31457280, 104857600, 314572800] # [30MB, 100MB, 300MB]  
      postage-ttl: 336h
      postage-depth: 22
      postage-label: test-label
      duration: 12h
      uploader-count: 2
      downloader-count: 0
      max-use-batch: 1h
      max-committed-depth: 3
      committed-depth-check-wait: 5m
      upload-groups:
        - bee-1
        - bee-2
      download-groups:
        - bee-3
        - bee-4
    timeout: 12h
    type: load
