# clusters defines clusters Beekeeper works with
# clusters may inherit it's configuration from already defined cluster and override specific fields from it
clusters:
  testnet:
    _inherit: ""
    name: bee
    namespace: beekeeper
    disable-namespace: false
    api-domain: staging.internal
    api-insecure-tls: true
    api-scheme: https
    debug-api-domain: staging.internal
    debug-api-insecure-tls: true
    debug-api-scheme: https
    funding:
      eth: 0.1
      gbzz: 2.0
    node-groups:
      bee:
        mode: node
        bee-config: testnet
        config: testnet
        count: 3
      light:
        mode: node
        bee-config: testnet-light-node
        config: testnet-light-node
        count: 3

# node-groups defines node groups that can be registered in the cluster
# node-groups may inherit it's configuration from already defined node-group and override specific fields from it
node-groups:
  testnet:
    _inherit: ""
    clef-image: ethersphere/clef:latest
    clef-image-pull-policy: Always
    image: ethersphere/bee:latest
    image-pull-policy: Always
    image-pull-secrets: [regcred]
    ingress-annotations:
      nginx.ingress.kubernetes.io/affinity: "cookie"
      nginx.ingress.kubernetes.io/affinity-mode: "persistent"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "7200"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "7200"
      nginx.ingress.kubernetes.io/session-cookie-max-age: "86400"
      nginx.ingress.kubernetes.io/session-cookie-name: "SWARMGATEWAY"
      nginx.ingress.kubernetes.io/session-cookie-path: "default"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    ingress-class: "nginx-internal"
    ingress-debug-class: "nginx-internal"
    labels:
      app.kubernetes.io/component: "node"
      app.kubernetes.io/part-of: "bee"
      app.kubernetes.io/version: "latest"
    node-selector: 
      node-group: "private"
    persistence-enabled: true
    persistence-storage-class: "local-storage"
    persistence-storage-request: "34Gi"
    pod-management-policy: "OrderedReady"
    resources-limit-cpu: "1"
    resources-limit-memory: 2Gi
    resources-request-cpu: 750m
    resources-request-memory: 1Gi
    restart-policy: "Always"
    update-strategy: "RollingUpdate"
  testnet-light-node:
    _inherit: testnet
    image: ethersphere/bee:latest
    image-pull-policy: Always
    persistence-enabled: false

# bee-configs defines Bee configuration that can be assigned to node-groups
# bee-configs may inherit it's configuration from already defined bee-config and override specific fields from it
bee-configs:
  testnet:
    _inherit: ""
    api-addr: ":1633"
    block-time: 15
    bootnodes: "/dnsaddr/testnet.ethswarm.org"
    bootnode-mode: false
    cache-capacity: 1000000
    clef-signer-enable: false
    clef-signer-endpoint: "http://localhost:8550"
    cors-allowed-origins: ""
    data-dir: "/home/bee/.bee"
    db-open-files-limit: 200
    db-block-cache-capacity: 33554432
    db-write-buffer-size: 33554432
    db-disable-seeks-compaction: false
    debug-api-addr: ":1635"
    debug-api-enable: true
    full-node: true
    gateway-mode: false
    nat-addr: ""
    mainnet: false
    network-id: 10
    p2p-addr: ":1634"
    p2p-quic-enable: false
    p2p-ws-enable: false
    password: "beekeeper"
    payment-early-percent: 50
    payment-threshold: 13500000
    payment-tolerance-percent: 25
    postage-stamp-address: ""
    price-oracle-address: ""
    resolver-options: "https://cloudflare-eth.com"
    standalone: false
    chequebook-enable: true
    swap-enable: true
    swap-endpoint: "ws://private-goerli-geth.private-goerli-geth:8546"
    swap-factory-address: ""
    swap-legacy-factory-addresses: ""
    swap-initial-deposit: 10000000000000000
    tracing-enabled: false
    tracing-endpoint: "tempo-tempo-distributed-distributor.observability:6831"
    tracing-service-name: "bee"
    transaction: ""
    verbosity: 5
    welcome-message: "Welcome to the Testnet!"
    allow-private-cidrs: true
  testnet-light-node:
    _inherit: testnet
    full-node: false