name: Go

on: [pull_request]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [1.18]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Set git to use LF
        # make sure that line endings are not converted on windows
        # as gofmt linter will report that they need to be changed
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Cache Go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: Lint
        if: matrix.os == 'ubuntu-latest'
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.46
          args: --timeout 10m --go=1.17
      - name: Vet
        if: matrix.os == 'ubuntu-latest'
        run: make vet
      - name: Build
        run: make build
      - name: Test
        run: make test
